* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 30px;
    font-family: "Vedrana", sans-serif;
    text-align: center;
}

img {
    width: 640px;
}

.carousel-container,
.selectBox-container {
    height: 570px;
    padding-top: 40px;
}

/* Carousel */

.carousel-container {
    background-color: #dbe3f1;
    transition: background-color .2s;
}

.jcarousel-wrapper {
    position: relative;
    width: 61%;
    margin: 0 auto;
}

.jcarousel {
    position: relative;
    width: 640px;
    height: 425px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 0 5px 0 #bbb;
}

.jcarousel div {
    width: 20000em;
    position: relative;
    list-style-type: none;
}

.jcarousel figure {
    float: left;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: inline-block;
    top: 200px;
    width: 20px;
    height: 20px;
    padding: 5px;
    transition: opacity .3s;
    color: #464658;
    border: 1px solid #464658;
    border-radius: 4px;
    font-size: 40px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    opacity: .7;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    opacity: 1;
}

.jcarousel-control-prev {
    left: 10px;
}

.jcarousel-control-next {
    right: -10px;
}

.jcarousel-pagination {
    text-align: center;
}

.jcarousel-pagination a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 20px 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #999;
    transition: background-color .3s;
}

.jcarousel-pagination a.active {
    background-color: #9e9c83;
}

/* SelectBox */

.selectBox-container {
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    transition: background-color .3s;
}

.default,
.selectBox-dropdown-menu li:first-child a::after {
    background-color: #e6e6c9;
}

.light-pink,
.selectBox-dropdown-menu li:nth-child(2) a::after {
    background-color: #d6bcbc;
}

.light-green,
.selectBox-dropdown-menu li:nth-child(3) a::after {
    background-color: #cfe0d0;
}

.grey,
.selectBox-dropdown-menu li:nth-child(4) a::after {
    background-color: #b7b6b6;
}

.selectBox-dropdown-menu li:last-child a::after {
    background-color: #fff;
}

.selectBox {
    /*margin: 10px auto;*/
}

.selectBox-dropdown {
    display: inline-block;
    position: relative;
    min-width: 150px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    cursor: default;
}

li::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: blue;
}

/*.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
}*/

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    padding: 5px 8px;
}

.selectBox-options a {
    position: relative;
}

.selectBox-options a::after {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-color: blue;
    content: '';
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    background: url('../img/jquery.selectBox-arrow.gif') 50% center no-repeat;
    border-left: solid 1px #bbb;
}

.selectBox-dropdown-menu {
    position: absolute;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px #bbb; /* should be the same border width as .selectBox-dropdown */
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    z-index: 1;
}


.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    cursor: default;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.selectBox-options.selectBox-options-top {
    border-bottom: none;
	margin-top: 1px;
    border-radius: 5px;
}

.selectBox-options.selectBox-options-bottom{
	border-top: none;
    border-radius: 5px;
}

.selectBox-options LI A {
    line-height: 1.5;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEE;
}
