* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 30px;
    font-family: "Vedrana", sans-serif;
    text-align: center;
}

h3,
label {
    display: block;
    margin: 20px;
    font-family: "Vedrana", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

img {
    width: 640px;
}

.carousel-container,
.selectBox-container,
.checkBox-container {
    height: 600px;
    padding-top: 40px;
}

/* Carousel */

.carousel-container {
    background-color: #dbe3f1;
    transition: background-color .2s;
}

.jcarousel-wrapper {
    position: relative;
    width: 61%;
    margin: 0 auto;
}

.jcarousel {
    position: relative;
    width: 640px;
    height: 425px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 0 5px 0 #bbb;
}

.jcarousel div {
    width: 20000em;
    position: relative;
    list-style-type: none;
}

.jcarousel figure {
    float: left;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: inline-block;
    top: 200px;
    width: 20px;
    height: 20px;
    padding: 5px;
    transition: opacity .3s;
    color: #464658;
    border: 1px solid #464658;
    border-radius: 4px;
    font-size: 40px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    opacity: .7;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    opacity: 1;
}

.jcarousel-control-prev {
    left: 10px;
}

.jcarousel-control-next {
    right: -10px;
}

.jcarousel-pagination {
    text-align: center;
}

.jcarousel-pagination a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 20px 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #999;
    transition: background-color .3s;
}

.jcarousel-pagination a.active {
    background-color: #9e9c83;
}

/* SelectBox */

.selectBox-container {
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    transition: background-color .3s;
}

.default,
.selectBox-dropdown-menu li:first-child a::after {
    background-color: #e6e6c9;
}

.light-pink,
.selectBox-dropdown-menu li:nth-child(2) a::after {
    background-color: #d6bcbc;
}

.light-green,
.selectBox-dropdown-menu li:nth-child(3) a::after {
    background-color: #cfe0d0;
}

.grey,
.selectBox-dropdown-menu li:nth-child(4) a::after {
    background-color: #e0dfdf;
}

.selectBox-dropdown-menu li:last-child a::after {
    background-color: #fff;
    border: 1px solid #bbb;
}

.selectBox-dropdown {
    display: inline-block;
    position: relative;
    min-width: 150px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    cursor: default;
}

.selectBox {
    display: block;
    margin: 150px auto;
}

.selectBox-dropdown-menu {
    background-color: #eee;
}

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    padding: 5px 8px;
}

.selectBox-options a {
    position: relative;
}

.selectBox-options a::after {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-color: blue;
    content: '';
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    background: url('../img/jquery.selectBox-arrow.gif') 50% center no-repeat;
    border-left: solid 1px #bbb;
}

.selectBox-dropdown-menu {
    position: absolute;
    max-height: 200px;
    min-height: 1em;
    border: 1px solid #999; /* should be the same border width as .selectBox-dropdown */
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    z-index: 1;
}

.selectBox-options,
.selectBox-options li,
.selectBox-options li a {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    cursor: default;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.selectBox-options.selectBox-options-top {
	margin-top: 1px;
    border-radius: 5px;
}

.selectBox-options.selectBox-options-bottom {
    border-radius: 5px;
}

.selectBox-options li a {
    line-height: 1.5;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
}

.selectBox-options li.selectBox-hover a {
    background-color: #ddd;
}

/* Checkboxes */

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 350px;
    text-transform: none;
    box-sizing: border-box;
}

.checkBox-container {
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.css-checkbox,
.js-wrapper {
    position: relative;
    margin: 10px auto;
    padding: 20px 57px 20px 20px;
    background-color: #99ccff;
    border: 1px solid #ada8a8;
    font-size: 16px;
    text-align: left;
}

.css-checkbox::after,
.js-checkbox-container {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 1px solid #848181;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #fff;
    z-index: 1;
}

.css-checkbox::after {
    content: '';
}

.css-native-checkbox,
.js-native-checkbox {
    display: none;
    /*opacity: 0;*/
}

.css-native-checkbox:checked + label::after {
    content: '\2228';
    font-size: 10px;
    text-align: center;
}

.css-native-checkbox:disabled + label::after,
.input-disabled {
    color: rgba(83, 83, 83, .5);
    border: 1px solid rgba(83, 83, 83, .3);
}

.label-disabled {
    color: rgba(0, 0, 0, .4);
}

.message {
    display: none;
    position: absolute;
    top: 20px;
    right: -225px;
    font-size: 16px;
}

.css-native-checkbox:checked ~ .message {
    display: block;
}

.js-checkbox-container {
    font-size: 10px;
    text-align: center;
}
